.container {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("../../public/images/victoryScreen.png");
  background-repeat: no-repeat;
  background-size: 100% !important;
  background-attachment: fixed !important;
  background-position: center top !important;
  width: 100vw;
  height: 100vh;
  .container2 {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      url("../../public/images/defeatScreen.png");
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-attachment: fixed !important;
    background-position: center top !important;
    width: 100vw;
    height: 100vh;
    .container3 {
      background: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        url("../../public/images/rift.jpg");
      background-repeat: no-repeat;
      background-size: 100% !important;
      background-attachment: fixed !important;
      background-position: center top !important;
      width: 100vw;
      height: 100vh;
      .container4 {
        background: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          url("../../public/images/roles.jpg");
        background-repeat: no-repeat;
        background-size: 100% !important;
        background-attachment: fixed !important;
        background-position: center top !important;
        width: 100vw;
        height: 100vh;
        .mask {
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

          background-repeat: no-repeat;
          background-size: 100% !important;
          background-attachment: fixed !important;
          background-position: center top !important;
          width: 100vw;
          height: 100vh;
          .topText {
            z-index: 1;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 15vh;
            color: gold;
            font-size: xx-large;
          }
          .roleSelect {
            padding-top: 300px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .fivePlayerContainer {
              width: 100%;
              display: flex;
              justify-content: space-around;
            }
            .playerCard {
              padding: 0;
            }
          }
          .playersOnRift {
            .wrapper {
              display: flex;
              flex-direction: column-reverse;
              justify-content: space-around;
              padding-top: 40px;
              margin-left: 440px;
              margin-right: 300px;
              .row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 102px;
              }
            }
          }
        }
      }
    }
  }
}
